*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.component-title:not(:first-of-type) {
  margin-top: 4.5rem;
}

.tooltip-component-title {
  margin-bottom: 0;
}

.star {
  color: whitesmoke;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  user-select: none;
}

.star.filled {
  color: cornflowerblue;
}

.success-icon {
  color: #34D399;
}

.warning-icon {
  color: #FBBF24;
}

.error-icon {
  color: #F87171;
}

.neutral-icon {
  color: #60A5FA;
}

.card-icon {
  /* color: cornflowerblue; */
  font-size: 2rem;
  margin-top: -2rem;
}

.tootip-icon {
  cursor: pointer;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem 1rem 4.5rem;
}

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2.5rem; */
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form label,
.input-file {
  display: block;
}

.uploaded-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.badge-container,
.banner-container,
.card-container,
.testimonial-container,
.tooltip-container,
.toast-container {
  display: flex;
  flex-direction: column;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
}

.testimonial-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #2545B8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.testimonial-without-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111827;
  background-color: whitesmoke;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-background-color);
  padding: 1rem;
  margin-top: 2rem;
  /* margin-top: 0.5rem; */ /* Reduced margin for better alignment */
  border-radius: 0.5rem;
  position: absolute;
  bottom: 100%; /* Show tooltip above the element */
  left: 50%; /* Center tooltip horizontally */
  transform: translate(-50%);
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
  white-space: nowrap;
  z-index: 10;
}

/* A triange arrow at the bottom of the tooltip */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -2rem; /* Move closer or further from the tooltip */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  border-width: 1rem; /* Triangle size */
  border-style: solid;
  border-color: var(--tooltip-border-color) transparent transparent transparent;
}

.tootip-icon {
  cursor: pointer;
}

.close-tooltip-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
}

.toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 9999;
  transition: all 1s ease-in-out;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
}

.toast-enter {
  opacity: 1;
  transform: translateY(-1.25rem);
}

.toast-exit {
  opacity: 0;
  transform: translateY(1.25rem);
}

.toast.success {
  top: 2rem;
  left: 2rem;
}

.toast.warning {
  top: 2rem;
  right: 2rem;
}

.toast.error {
  bottom: 2rem;
  right: 2rem;
}

.toast.information {
  bottom: 2rem;
  left: 2rem;
}

.badge:first-of-type,
.banner:first-of-type,
.card:first-of-type,
.testimonial-with-image:first-of-type,
.testimonial-without-image:first-of-type {
  margin-top: 1rem;
}

/* .tooltip:first-of-type,
.tootip:nth-of-type(2) {
  margin-top: 1rem;
} */

/* Buttons */

.close-tooltip-button {
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
}

.close-toast-button {
  cursor: pointer;
}

/* Images */

.uploaded-image {
  width: 100%;
  border-radius: 0.5rem;
}

.testimonial-image {
  width: 100%;
  border-radius: 0.5rem;
}

.company-logo-image {
  width: 40%;
  border-radius: 0.5rem;
}

/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */


  /* Layout */

  .uploaded-file-container {
    width: 60%;
  }

  .tooltip-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  /* Buttons */


  /* Images */

  .testimonial-image {
    width: 60%;
  }

  /* Links */

}
