*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.component-title:not(:first-of-type) {
  margin-top: 4.5rem;
}

.star {
  color: whitesmoke;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  user-select: none;
}

.star.filled {
  color: cornflowerblue;
}

.success-icon {
  color: #34D399;
}

.warning-icon {
  color: #FBBF24;
}

.error-icon {
  color: #F87171;
}

.neutral-icon {
  color: #60A5FA;
}

.card-icon {
  color: cornflowerblue;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem 1rem 4.5rem;
}

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2.5rem; */
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form label,
.input-file {
  display: block;
}

.uploaded-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.badge-container,
.banner-container,
.card-container,
.testimonial-container,
.tooltip-container,
.toast-container {
  display: flex;
  flex-direction: column;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.testimonial-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #2545B8;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.testimonial-without-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111827;
  background-color: whitesmoke;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-background-color);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

/* A triange arrow at the bottom of the tooltip */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -1rem; /* Adjust to place it closer or further from the tooltip */
  left: 20%;
  transform: translateX(-50%);
  border-width: 0.5rem; /* Triangle size */
  border-style: solid;
  border-color: var(--tooltip-border-color) transparent transparent transparent;
}

.toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  /* bottom: 2rem;
  right: 2rem; */
  z-index: 9999;
}

.toast.success {
  top: 2rem;
  left: 2rem;
}

.toast.warning {
  top: 2rem;
  right: 2rem;
}

.toast.error {
  bottom: 2rem;
  right: 2rem;
}

.toast.information {
  bottom: 2rem;
  left: 2rem;
}

/* Buttons */


/* Images */

.uploaded-image {
  width: 100%;
  border-radius: 0.5rem;
}

.testimonial-image {
  width: 100%;
  border-radius: 0.5rem;
}

.company-logo-image {
  width: 40%;
  border-radius: 0.5rem;
}

/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */


  /* Layout */

  .uploaded-file-container {
    width: 60%;
  }

  .tooltip-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  /* Buttons */


  /* Images */

  .testimonial-image {
    width: 60%;
  }

  /* Links */

}
