*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

/* .component-title:not(:first-of-type) {
  margin-top: 4.5rem;
} */

.upload-page-title {
  margin-top: 0;
}

.star {
  color: #E1DCD9;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  user-select: none;
}

.star.filled {
  color: #FBBF24;
}

.banner-title {
  margin: 0;
}

.banner-text {
  margin: 0.75rem 0 0;
}

.banner-icon {
  font-size: 1rem;
}

.success-icon {
  color: #34D399;
}

.warning-icon {
  color: #FBBF24;
}

.error-icon {
  color: #F87171;
}

.neutral-icon {
  color: #60A5FA;
}

.card-title {
  color: #111827;
  margin: 1.5rem 0 0;
}

.card-text {
  color: #6B7280;
  margin: 1.25rem 0 0;
}

.card-icon {
  /* color: cornflowerblue; */ 
  font-size: 2rem;
  margin-top: -3.5rem;
}

.testimonial-company-title {
  margin: 0;
}

.testimonial-without-image .testimonial-name {
  margin: 0 0.5rem 0 0;
}

.testimonial-slash {
  color: cornflowerblue;
}

.tooltip-title {
  margin: 0;
}

.tooltip-text {
  margin: 0.5rem 0 0;
}

.toast-title {
  margin: 0;
}

.toast-text {
  margin: 0.5rem 0 0;
}

.toast-icon {
  font-size: 1.125rem;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem 1rem 4.5rem;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component-container:not(:first-of-type) {
  margin-top: 4.5rem;
}

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2.5rem; */
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form label,
.input-file {
  display: block;
}

.uploaded-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.badge-container,
.banner-container,
.card-container,
.testimonial-container,
.tooltip-container,
.toast-container {
  display: flex;
  flex-direction: column;
}

.badge-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-item {
  background-color: #FFFBEB;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  /* border: 1px solid cornflowerblue; */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-item:hover {
  color: whitesmoke;
  background-color: cornflowerblue;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.banner-icon-container {
  display: flex;
  flex-direction: column;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #CFD9FA;
  padding: 2.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
}

.testimonial-with-image {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: whitesmoke;
  background-color: #2545B8;
  padding: 2.5rem;
  margin-top: 2rem;
  border-radius: 0.75rem;
}

.testimonial-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 0;
  margin: 0;
}

.testimonial-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
}

.testimonial-without-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111827;
  background-color: #FEF3C7;
  padding: 4.5rem 2.5rem;
  margin-top: 2rem;
  border-radius: 0.75rem;
}

.testimonial-name-company-title-container {
  display: flex;
  align-items: center;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.tooltip {
  display: flex;
  align-items: flex-start;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-background-color);
  padding: 2rem;
  margin-top: 2rem;
  /* margin-top: 0.5rem; */ /* Reduced margin for better alignment */
  border-radius: 0.5rem;
  position: absolute;
  bottom: 100%; /* Show tooltip above the element */
  left: 50%; /* Center tooltip horizontally */
  transform: translate(-50%);
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
  white-space: nowrap;
  z-index: 10;
}

/* A triange arrow at the bottom of the tooltip */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -2rem; /* Move closer or further from the tooltip */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  border-width: 1rem; /* Triangle size */
  border-style: solid;
  border-color: var(--tooltip-border-color) transparent transparent transparent;
}

.tooltip-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 2rem;
}

.tooltip-button-container {
  display: flex;
}

.toast {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 9999;
  transition: all 1s ease-in-out;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
}

.toast-icon-container {
  display: flex;
}

.toast-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 1.25rem;
}

.toast-close-button-container {
  display: flex;
}

.toast-enter {
  opacity: 1;
  transform: translateY(-1.25rem);
}

.toast-exit {
  opacity: 0;
  transform: translateY(1.25rem);
}

.toast.success {
  top: 2rem;
  left: 2rem;
}

.toast.warning {
  top: 2rem;
  right: 2rem;
}

.toast.error {
  bottom: 2rem;
  right: 2rem;
}

.toast.information {
  bottom: 2rem;
  left: 2rem;
}

.badge:first-of-type,
.banner:first-of-type,
.card:first-of-type,
.testimonial-with-image:first-of-type,
.testimonial-without-image:first-of-type {
  margin-top: 1rem;
}

/* Buttons */

.button {
  font-family: inherit;
}

.do-this-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  font-size: 1.125rem;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
}

.do-this-button:hover {
  background-color: #3B7BF8;
}

.menu-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
}

.menu-button:hover {
  background-color: #4B6BDC;
}

.open-tooltip-button {
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.close-tooltip-button {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  /* position: absolute;
  top: 2rem;
  right: 2rem; */
  cursor: pointer;
}

.show-toast-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.1);
  cursor: pointer;
}

.show-toast-button:hover {
  background-color: #3B7BF8;
}

.close-toast-button {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* Images */

.uploaded-image {
  width: 100%;
  border-radius: 0.5rem;
}

.testimonial-image {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0.75rem;
}

.company-logo-image {
  width: 20%;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}

/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */


  /* Layout */

  .app-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 2.5rem 1rem 7.5rem;
  }

  /* .component-container {
    width: 50%;
  } */

  .uploaded-file-container {
    width: 60%;
  }

  .badge-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tooltip-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  /* Buttons */


  /* Images */

  /* .testimonial-image {
    width: 60%;
  } */

  /* Links */

}
